@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: #fff;
  min-height: 92vh;
}

/* #region NAVBAR */
.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 1.2rem 0;
  background-color: #fff;
}


.navbar-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

#nav-logo img{
  width: 6rem;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 2rem;
  cursor: pointer;
}

.navbar-item:hover {
  border-bottom: 4px solid #B70E21;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  max-height: 100%;
}

.navbar-item:hover a {
  color: #B70E21;
  transition: .1s ease-in-out;
  transform: scale(1.05);
}

/* Menu movil */

#navbar-toggle {
  display: none;
  width: 2.222rem;
  height: 2.222rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.menu-container .bar{
  width: 1.667rem;
  height: 0.167rem;
  background-color: #000;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.menu-container .bar::after, .menu-container .bar::before{
  content: '';
  width: 1.667rem;
  height: 0.167rem;
  background-color: #000;
  border-radius: 5px;
  position: absolute;
  transition: all .2s ease-in-out;
}

.menu-container .bar::before {
  transform: translateY(-10px);
}

.menu-container .bar::after {
  transform: translateY(10px);
}


/* Animation */
.menu-container.open .bar {
  transform: translateX(-50px);
  background: transparent;
}

.menu-container.open .bar::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-container.open .bar::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* #endregion */


/* #region SOBREMÃ */


  .about{
    width: 100%;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .about .content img {
    height: auto;
    width: 550px;
    max-width: 100%;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  .bio{
    width: 500px;
    max-width: 100%;
    padding: 0px, 10px;
    margin: 15px;
    text-align: center;

  }

  .bio h1{
    font-size: 50px;
    text-align: center;
  }

  .bio h5{
    font-size: 20px;
    text-align: center;
    color: #B70E21;
  }

  .content{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .button{
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-color: #B70E21;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    }

    .button:hover{
      transform: scale(1.2);
      background-color: #B70E21;
      border: 2px solid #B70E21;
      color: white;
      transition: .4s;
      cursor: pointer;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

  @media screen and (max-width: 1180px){
     .about{
       width: 100%;
       height: auto;
       padding: 70px 0px;
     }
  }

/* #endregion */


/* #region GALERY */

  .galery{
    width: 90%;
    padding: 0px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cuadros img{
    padding: 10px;
    width: 100%;
    height: auto;
    display: block;
  }

  .cuadros{
    width: 33.33%;
    text-align: center;
  }

  /* #endregion */


/* #region CONTACTO */

.formulario{
  box-sizing: border-box;
  background: white;
  color: black;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  padding: 0 1.5em;

}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: white;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: white;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: black;
  border-bottom: 1px solid #B70E21;
}


.botoncontacto {
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-color: #B70E21;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
}

.botoncontacto:hover{
  transform: scale(1.2);
  background-color: #B70E21;
  border: 2px solid #B70E21;
  color: white;
  transition: .4s;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}


/* CONTACT INFO */
 /*.contact-info {
 background: #B70E21;
  color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}*/

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
  body {
      padding: 0;
  }
  .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: left;
  }
}

/* #endregion */

/* #region CONTACTO2

.formulario{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  label, textarea {
    display: block;
    text-align: center;
    margin: 5px;
    margin-top: 15px;

  }
  
  textarea {
    resize: none;
    width: 1000px;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }

  input[type=text] { 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    width: 100%;
}

  ::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
    padding: 10px;
   
  }

/* #endregion */


/* #region FAQ */
.otrosproyectos{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 80px;
  margin-bottom: 40px;
  text-decoration: underline 4px;
  text-decoration-color: rgba(0, 255, 255, 0.504);
}

.questions-container{
  max-width: 800px;
  margin: 0 auto;
}

.question{
  border-bottom: 1px solid lightgray;
}

.question span{
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.question button{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px 15px;
  border:none;
  outline: none;
  font-size: 22px;
  color: black;
  font-weight: 700;
  cursor: pointer;
}
.question p{
  font-size: 22px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.4s ease;
  text-align: center;
}
.d-arrow{
  transition: transform 0.4s ease-in ;
  color: 000;
}

.question p.show{
  max-height: 200px; 
  opacity: 1;
  padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
  transform: rotate(180deg);
}

/* #endregion */


/* #region FAQ2 
  ul {
    list-style: none;
  }

  .faq div{
    margin: 100px;
    padding: 20px;
  }

  .faqIndex{
    text-align: center;
    margin-top: 100px;
  }

  .faqIndex li{
    margin: 20px;
  }

  .faqIndex a{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    text-decoration-line: none;
  }

    .faqIndex a:hover{
    transform: scale(1.2);
    background-color: transparent;
    color: #B70E21;
    transition: .4s;
    cursor: pointer;
  } 

 #endregion */


/* #region SLIDER */

.slider-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.slider-container {
  max-width: 40rem;
  width: 80%;
  height: 80%;
  max-height: 40rem;
  margin: auto;
  overflow: hidden;
  /* box-shadow: 0 0 0 10px lightblue; */
  position: relative;
}

.slider-container:hover #slider-left-btn, .slider-container:hover #slider-right-btn {
  opacity: 1;
  transition: .5s ease-in-out;
}

.slider {
  display: flex;
  height: 100%;
  width: 400%;
  margin-left: -100%;
}

.slides img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

#slider-left-btn,  #slider-right-btn {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#slider-right-btn {
  right: 0;
}

#slider-right-btn:hover, #slider-left-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* #endregion */


/* #region MEDIA */

@media (max-width: 1000px) {

  /* #region NAVBAR */

  #navbar-toggle {
    display: flex;
  }

  .navbar-list {
    position: fixed;
    display: none;
    top: 8%;
    right: 5%;
    background: #e1e1e1;
    padding: 2% 5%;
    opacity: 0;
    justify-items: start;
    /* transition: opacity .2s ease-in-out; */
  }

  .navbar-item {
    margin: 0;
    padding-left: 0;
  }  
  
  /*a.navbar-link {
  color: white;
  }*/ 

  .navbar-item:hover {
    border-bottom: none;
  }

  .menu-container.open .navbar-list {
    display: block;
    opacity: 1;
    transition: 1s;
  }

  .menu-container.open .navbar-list::before {
    content: "";
    background-color: #e1e1e1;
    position: absolute;
    top: -5px;
    right: 8px;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
  }

  .navbar-item {
    justify-content: start;
  }

  /* #endregion */
}

/* #region FOOTER */

footer {
  align-self: flex-end;
  background-color: rgba(40, 207, 215, 0.3);
  color: black;
  text-shadow: white;
  line-height: 3;
  font-size: 15px;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
}

/* #endregion */
/* #endregion */



