@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: #fff;
  min-height: 92vh;
}

/* #region NAVBAR */
.navbar {
  position: sticky;
  width: 100%;
  height: 8vh;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 1.2rem 0;
  background-color: #fff;
  overflow: hidden;
}


.navbar-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

#nav-logo img{
  display: inline;
  width: 40%;
  max-height: 100%;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  cursor: pointer;
}

.navbar-item:hover {
  border-bottom: 4px solid antiquewhite;
}

.navbar-item a {
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
  max-height: 100%;
  padding: 1rem 0;
}

.navbar-item:hover a {
  color: antiquewhite;
  transition: .1s ease-in-out;
  transform: scale(1.05);
}

/* Menu movil */

#navbar-toggle {
  display: none;
  width: 2.222rem;
  height: 2.222rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.menu-container .bar{
  width: 1.667rem;
  height: 0.167rem;
  background-color: #000;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.menu-container .bar::after, .menu-container .bar::before{
  content: '';
  width: 1.667rem;
  height: 0.167rem;
  background-color: #000;
  border-radius: 5px;
  position: absolute;
  transition: all .2s ease-in-out;
}

.menu-container .bar::before {
  transform: translateY(-10px);
}

.menu-container .bar::after {
  transform: translateY(10px);
}


/* Animation */
.menu-container.open .bar {
  transform: translateX(-50px);
  background: transparent;
}

.menu-container.open .bar::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-container.open .bar::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* #endregion */


/* #region SOBREMÍ */


  .about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .about .content img {
    height: auto;
    width: 550px;
    max-width: 100%;
    margin: 15px;
  }

  .bio{
    width: 500px;
    max-width: 100%;
    padding: 0px, 10px;
    margin: 15px;
    text-align: center;

  }

  .bio h1{
    font-size: 50px;
    text-align: center;
  }

  .bio h5{
    font-size: 20px;
    text-align: center;
  }

  .content{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .formulario form input.submit-btn{
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-color: antiquewhite;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    transition: .4s ease-in;
    }

    .formulario form input.submit-btn:hover{
      transform: scale(1.2);
      background-color: transparent;
      border: 2px solid antiquewhite;
      color: black;
      transition: .4s ease-out;
      cursor: pointer;
    }

  @media screen and (max-width: 1180px){
     .about{
       width: 100%;
       height: auto;
       padding: 70px 0px;
     }
  }


/* #endregion */

/* #region GALERY */
  .galery{
    width: 90%;
    padding: 0px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cuadros img{
    padding: 10px;
    width: 100%;
    height: auto;
    display: block;
  }

  .cuadros{
    width: 33.33%;
    text-align: center;
  }

.formulario{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .formulario label, .formulario textarea {
    display: block;
    margin: 5px;
    margin-top: 15px;

  }
  
  .formulario textarea {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    resize: none;
    text-align: start;
    padding: 1rem;
    outline: none;
    width: 100%;
  }

  .formulario textarea:focus {
    border: 2px solid lightseagreen;
  }

  .formulario input[type=text] { 
    font-size: 16px;
    color: #000;
    width: 100%;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
    padding: 10px;
   
  }
/* #endregion */

/* #region CONTACTO */

.formulario form {
  width: 50rem;
  max-width: 80%;
}

.formulario form input {
  padding: .5rem;
  padding-left: 3rem;
  text-align: start;
  width: 100%;
  outline: none;
}

.input-container input:focus {
  border: 2px solid lightseagreen;
}

.formulario form input[type=email] {
  width: 100%;
  font-size: 16px;
  color: #000;
}

.formulario form input[type=tel] {
  width: 100%;
  font-size: 16px;
  color: #000;
}

.formulario form .input-container {
  position: relative;
  margin-bottom: 1rem;
}

.input-container i {
  position: absolute;
  min-width: 40px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* #endregion */

/* #region FAQ */
  ul {
    list-style: none;
  }

  .faq div{
    margin: 100px;
    padding: 20px;
  }

  .faqIndex{
    text-align: center;
    margin-top: 100px;
  }

  .faqIndex li{
    margin: 20px;
  }

  .faqIndex a{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    text-decoration-line: none;
  }

    .faqIndex a:hover{
    transform: scale(1.2);
    background-color: transparent;
    color: antiquewhite;
    transition: .4s;
    cursor: pointer;
  } 

/* #endregion */


/* #region SLIDER */

.slider-container {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.slider {
  position: relative;
  display: grid;
  place-items: center;
  max-width: 720px;
  overflow: hidden;
  box-shadow: 
    20px 20px 50px hsla(210, 50%, 40%, .4)
    -20px -20px 50px hsla(210, 50%, 80%, .2)
  ;
}

.slide {
  height: 720px;
  max-height: 90vh;
  display: flex;
}

.slide img {
  width: 100%;
  flex: 1 0 100%;
  object-fit: cover;
}

.slider-btn-container {
  position: absolute;
  width: 100%;
}

.slider-btn {
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  padding: 1rem;
  font-size: 18px;
  top: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: rgba(255, 255, 255, .3);
  border: none;
}

.slider-btn-left {
  left: 0;
  transform: translate(50%, -50%);
}
.slider-btn-left:is(:hover, :focus) {
  animation: 1s infinite moveLeft;
}
@keyframes moveLeft {
  50% {
    left: -3px;
  }
}

.slider-btn-right {
  right: 0;
  transform: translate(-50%, -50%);
}
.slider-btn-right:is(:hover, :focus) {
  animation: 1s infinite moveRight;
}
@keyframes moveRight {
  50% {
    right: -3px;
  }
}

.slider-dots {
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  margin: 1rem auto;
}

.slider-dots button {
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid lightseagreen;
  background: transparent;
  cursor: pointer;
  transition: background .5s ease;
}

.slider-dots button:hover {
  background: rgba(32, 178, 170, .5);
  transition: .1s ease-in-out;
}

.slider-dots button.active {
  background: lightseagreen !important;
  transition: .5s ease-in-out;
}
/* #endregion */

/* #region MEDIA */
@media (max-width: 1200px) {

  /* #region NAVBAR */
  #navbar-toggle {
    display: flex;
  }

  .navbar-list {
    position: fixed;
    display: none;
    top: 8%;
    right: 5%;
    background: #e1e1e1;
    padding: 2% 5%;
    opacity: 0;
    justify-items: start;
    /* transition: opacity .2s ease-in-out; */
  }

  .navbar-item {
    margin: 0;
    padding-left: 0;
  }

  .navbar-item:hover {
    border-bottom: none;
  }

  .menu-container.open .navbar-list {
    display: block;
    opacity: 1;
    transition: 1s;
  }

  .menu-container.open .navbar-list::before {
    content: "";
    background-color: #e1e1e1;
    position: absolute;
    top: -5px;
    right: 8px;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
  }

  .navbar-item {
    justify-content: start;
  }

  /* #endregion */
}
/* #endregion */



